@font-face {
    font-family: 'Lexend';
    src: url(/public/fonts/Lexend.woff2) format('woff2-variations');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'LexendZetta';
    src: url(/public/fonts/LexendZetta.woff2) format('woff2-variations');
    font-weight: 100 900;
    font-display: swap;
}



:root {

    /* font */

    --def-font: 'Lexend';
    --def-lrg-font: 'LexendZetta';
    --normal-font-weight: 400;
    --medium-font-weight: 500;
    --bold-font-weight: 700;
    --extrabold-font-weight: 800;

    /* for the sections */

    --def-section-height: 95vh;
    --def-section-padding: 5vh;
    --def-section-margin: 25vh 0;

    /* for the header/footer */

    --def-top-bottom-size: 15vh;

}



html {
    scroll-behavior: smooth;
    font-family: var(--def-font);
    font-weight: var(--normal-font-weight);
}



body {

    margin: 0;
    padding: 0;


    background-color: #FFF5EE;
    /* background-image: radial-gradient(60% 17.5% at 95% 7.5%, rgba(0, 255, 25, 0.65), rgba(0, 0, 0, 0));
                        /* radial-gradient(35% 10% at 22.5% 47.5%, rgba(0, 255, 25, 0.65), rgba(0, 0, 0, 0) 100%),
                        radial-gradient(55% 6% at 50% 67.5%, rgba(0, 255, 25, 0.65), rgba(0, 0, 0, 0) 100%); */

}



.header {

    padding: 1vh;
    width: 100%;
    height: var(--def-top-bottom-size);
    box-sizing: border-box;


    display: flex;
    align-items: center;
    gap: 20px;


    .logo-wrapper {

        width: 13vh;
        height: 13vh;
        position: relative;
        /* come back and give them a max-height and max-width later */


        margin-left: 5vw;
        margin-right: 2.5vw;


        img {

            position: absolute;

            width: 100%;
            height: 100%;

            pointer-events: none;
            user-select: none;

        }


        .spiral {

            z-index: 5001;

            animation: spiral 8s infinite linear;
            -moz-animation: spiral 8s infinite linear;
            -webkit-animation: spiral 8s infinite linear;

        }


        .logo {

            z-index: 5002;

        }

    }


    ul {

        width: 80%;
        margin: 0;
        padding: 0;


        list-style-type: none;
        text-align: left;


        user-select: none;


        li {

            display: inline;


            padding: 1.75vh 1.25vw;
            margin: 1vw;


            border-radius: 0.5vw;


            color: black;
            text-decoration: none;
            font-weight: var(--bold-font-weight);
            font-size: 1.5vw;


            transition: all 0.1s ease;

        }


        #healing {

            background-color: #FFC700;

        }

        #elegant {

            background-color: #DB00FF;

        }

        #mindset {

            background-color: #00FFC2;

        }

    }

}



.hero-section {

    margin: 0 0 25vh 0;
    padding: 0;


    display: flex;
    align-items: center;
    gap: 5vw;


    .row-1 {

        height: 95%;
        margin: 0 0 0 2.5vw;
        padding: 0 2.5%;
        width: 40vw;
        max-width: 963px;
        max-height: 974px;


        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;


        div {

            width: 100%;

        }


        .upper-text {

            font-family: var(--def-lrg-font);
            font-size: clamp(0.1em, 2.8vw, 3.5em);

        }


        .main-text {

            font-family: var(--def-lrg-font);
            font-weight: var(--bold-font-weight);
            font-size: clamp(0.1em, 5.5vw, 7.25em);


            background: linear-gradient(160deg, #61FF00 30%, #00700B);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;


            transform: translate(150px, 0);
            opacity: 0;


            transition: all 0.1s ease;

        }


        .lower-text {

            font-family: var(--def-lrg-font);
            font-size: clamp(0.1em, 2.8vw, 3.5em);

        }


        .paragraph {

            margin-top: 8%;
            margin-bottom: 7.55%;


            font-size: clamp(0.1em, 1.5vw, 1.6em);


            transform: translate(150px, 0);
            opacity: 0;


            transition: all 0.1s ease;

        }


        a {

            padding: 3% 0;
            width: 30%;


            border-radius: 1.5vw;


            color: black;
            text-align: center;
            text-decoration: none;
            font-family: var(--def-lrg-font);
            font-weight: var(--extrabold-font-weight);
            font-size: clamp(0.1em, 1.25vw, 1.6em);


            background-image: linear-gradient(160deg, #61FF00 30%, #00a310);
            box-shadow: 0 0 30px #00a310;
            background-size: 200% 200%;
            background-position: 0% 0%;


            border: 2px solid black;


            transform: translate(150px, 0);
            opacity: 0;


            transition: all 0.1s ease;

        }

        a:hover {
            background-position: 70% 100%;
        }

    }


    .row-2 {

        height: 90vh;
        margin: 0 7.5vw 0 0;
        margin-left: auto;

        pointer-events: none;
        user-select: none;


        img {

            width: 100%;
            height: 100%;
            object-fit: contain;
            filter: drop-shadow(0 0 5px black);


            transform: translate(150px, 0);
            opacity: 0;


            transition: all 0.1s ease;

        }

    }

}


.explain-section {

    margin: var(--def-section-margin);


    display: flex;
    align-items: center;


    .explain-container {

        flex: 1;


        height: 90%;
        max-height: 90%;

    }


    .row-1 {

        text-align: center;
        margin: 0 0 0 5vw;
        height: 80vh;


        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            border-radius: 5%;
            filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
        }

    }


    .row-2 {

        margin: 0 5vw 0 0;


        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        gap: 2vw;


        overflow: hidden;


        text-align: left;


        .explain-header {


            font-family: var(--def-lrg-font);
            font-weight: var(--bold-font-weight);
            font-size: clamp(0.1em, 5vw, 7.25em);


            background: linear-gradient(160deg, #61FF00 30%, #00700B);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            transition-delay: 0.5s;

        }


        .explain-paragraph {

            margin: 0 2%;

            font-size: clamp(0.1em, 1.3vw, 1.8em);

            transition-delay: 0.75s;

        }

    }

}



.info-section {

    position: relative;
    margin: var(--def-section-margin);
    padding: 0;


    display: flex;
    align-items: end;
    gap: 30vw;

    
    overflow: hidden;


    .large-image {
        position: absolute;
        width: 30%;
        height: 80%;
        top: 15%;
        left: 35%;
        object-fit: contain;
        filter: drop-shadow(0 0 5px black);
        pointer-events: none;
        user-select: none;
        transition-delay: 0.5s;
    }


    .header-text {

        position: absolute;


        top: 5%;
        left: 5%;
        width: 90%;
        max-width: 90%;


        text-align: center;
        font-size: 5vw;
        font-family: var(--def-lrg-font);
        font-weight: var(--bold-font-weight);


        background: linear-gradient(160deg, #61FF00, #00700B);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;


        transition-delay: 0.25s;


        pointer-events: none;
        user-select: none;

    }


    .info-container {

        height: 80vh;


        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        div {

            margin: 1vh;
            max-height: 27.5%;


            display: flex;
            align-items: center;
            justify-content: center;


            font-size: clamp(0.1em, 1vw, 1.25em);


            div {

                max-height: 100%;

            }


            img {

                flex: 1;

                max-width: 25%;
                max-height: 60%;
                object-fit: contain;
                text-align: center;
                
                pointer-events: none;
                user-select: none;

            }

        }

    }

    .row-1 {

        margin: 0 0 5vh 2.5vw;
        margin-top: 10%;


        div {

            text-align: left;

        }

        .one {
            transition-delay: 0.25s;
        }

        .two {
            transition-delay: 0.25s;
        }

        .three {
            transition-delay: 0.25s;
        }
    }

    .row-2 {

        margin: 0 2.5vw 5vh 0;
        margin-left: auto;
        margin-top: 10%;


        div {

            text-align: right;

        }

        .four {
            transition-delay: 0.5s;
        }

        .five {
            transition-delay: 0.5s;
        }

        .six {
            transition-delay: 0.5s;
        }

    }

}



.about-section {

    margin: var(--def-section-margin);


    display: flex;
    align-items: center;


    .about-container {

        flex: 1;


        height: 90%;
        max-height: 90%;

    }


    .row-1 {

        text-align: center;
        margin: 0 0 0 5vw;
        height: 80vh;


        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            border-radius: 5%;
            filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
        }

    }


    .row-2 {

        margin: 0 5vw 0 0;


        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        gap: 2vw;


        overflow: hidden;


        text-align: left;


        .about-header {


            font-family: var(--def-lrg-font);
            font-weight: var(--bold-font-weight);
            font-size: clamp(0.1em, 5vw, 7.25em);


            background: linear-gradient(160deg, #61FF00 30%, #00700B);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            transition-delay: 0.5s;

        }


        .about-paragraph {

            margin: 0 2%;

            font-size: clamp(0.1em, 1.3vw, 1.8em);

            transition-delay: 0.75s;

        }

    }

}



.ref-section {

    margin: var(--def-section-margin);
    padding: var(--def-section-padding);

    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;


    .column-1 {

        text-align: center;
        font-family: var(--def-lrg-font);
        font-weight: var(--bold-font-weight);
        font-size: clamp(0.1em, 5vw, 7.25em);


        background: linear-gradient(160deg, #61FF00 30%, #00700B);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;


        transition-delay: 0.25s;

    }


    .column-2 {

        height: 60vh;
        max-height: 60vh;


        display: flex;
        align-items: start;
        justify-content: center;
        gap: 2vw;


        .ref-wrapper {

            height: 100%;
            max-height: 100%;
            max-width: 30%;


            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            gap: 1.5vh;


            img {
                width: auto;
                height: auto;
                max-width: 100%;
                height: 50%;
                max-height: 50%;
                object-fit: contain;
                border-radius: 5%;
                filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
            }


            div {

                text-align: center;

            }


            .name {

                font-weight: var(--medium-font-weight);
                font-size: clamp(0.1em, 2vw, 3rem);

            }


            .testimony {

                margin: 0 5%;


                font-size: clamp(0.1em, 1vw, 1.25em);

            }


        }

        .one {
            transition-delay: 0.25s;
        }

        .two {
            transition-delay: 0.5s;
        }

        .three {
            transition-delay: 0.75s;
        }

    }

}



.final-section {

    margin: var(--def-section-margin);
    padding: var(--def-section-padding);


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;


    user-select: none;


    .upper {

        text-align: center;
        font-family: var(--def-lrg-font);
        font-weight: var(--bold-font-weight);
        font-size: clamp(0.1em, 5vw, 7.25em);


        background: linear-gradient(160deg, #61FF00 30%, #00700B);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }


    a {

        padding: 3vh 0;
        width: 30vw;


        border-radius: 1.5vw;


        color: black;
        text-align: center;
        text-decoration: none;
        font-family: var(--def-lrg-font);
        font-weight: var(--extrabold-font-weight);
        font-size: clamp(0.1em, 1.75vw, 4em);


        background-image: linear-gradient(160deg, #61FF00 30%, #00a310);
        box-shadow: 0 0 30px #00a310;
        background-size: 200% 200%;
        background-position: 0% 0%;


        border: 2px solid black;


        transition: all 0.2s ease;

    }

    a:hover {
        background-position: 70% 100%;
    }

}



.footer {

    padding: 2.5vh 0;
    margin: 5vh 0 0 0;


    color: black;
    text-align: center;
    font-size: 0.75em;
    opacity: 0.4;

}


.img-lightbox {
    z-index: 10000;

    width: 100vw;
    height: 100vh;

    opacity: 1;

    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0);

    backdrop-filter: blur(0px);

    transition: all 0.4s ease-out;

    pointer-events: none;
    user-select: none;

}

.img-wrapper {
    
    width: 80%;
    height: 80%;

    pointer-events: none;

    transition: all 0.4s ease-out;

}

.open-image {

    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;

    transition: all 0.4s ease-out;

    pointer-events: none;

}

.img-opening {

    opacity: 1;
    width: 100%;
    height: 100%;

    pointer-events: auto;

}

.lb-opening {

    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);

    pointer-events: auto;

}

.contact-lightbox {

    z-index: 10000;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    pointer-events: none;
    opacity: 0;

    backdrop-filter: blur(0);
    background-color: rgba(0, 0, 0, 0);

    transition: all 0.4s ease-out;


    .bg {
        width: 85vh;
        height: 85vh;
        background-color: white;

        border-radius: 1vw;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 6%;

        a {
            position: relative;
            padding: 2.5% 0;
            text-align: center;
            background-color: lightblue;
            border-radius: 1vw;
            width: 50%;
            max-height: 5%;
            color: white;
            font-family: var(--def-lrg-font);
            font-weight: var(--extrabold-font-weight);
            text-decoration: none;
            border: 2px solid black;
            overflow: hidden;

            transition: all 0.2s ease-out;
            
            img {
                z-index: 0;
                top: 15%;
                left: 0%;
                position: absolute;
                width: 100%;
                height: 70%;
                object-fit: contain;
                opacity: 0;
                transform: translate(0, 100px);
                transition: all 0.2s ease-out;
            }
        }

        .telegram {
            background-image: linear-gradient(160deg, #0088cc 30%, #006496);
            box-shadow: 0 0 10px #006496;
        }

        .x {
            background-image: linear-gradient(160deg, #1d1d1d 30%, #0a0a0a);
            box-shadow: 0 0 10px #000000;
        }

        .instagram {
            background-image: linear-gradient(160deg, #E1306C 30%, #833AB4);
            box-shadow: 0 0 10px #833AB4;
        }

        .youtube {
            background-image: linear-gradient(160deg, #d30000 30%, #5e0000);
            box-shadow: 0 0 10px #FF0000;
        }

        .telegram:hover {
            box-shadow: 0 0 20px #0088cc;
            img {
                transform: translate(0);
                opacity: 0.6;
            }
        }

        .x:hover {
            box-shadow: 0 0 20px #000000;
            img {
                transform: translate(0);
                opacity: 0.325;
            }
        }

        .instagram:hover {
            box-shadow: 0 0 20px #E1306C;
            img {
                transform: translate(0);
                opacity: 0.4;
            }
        }

        .youtube:hover {
            box-shadow: 0 0 20px #FF0000;
            img {
                transform: translate(0);
                opacity: 0.5;
            }
        }

        .contact-header {

            text-align: center;
            font-family: var(--def-lrg-font);
            font-weight: var(--bold-font-weight);
            font-size: clamp(0.1em, 2.5vw, 4em);


            background: linear-gradient(160deg, #61FF00 30%, #00700B);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            

            width: 90%;

        }
        

    }

}

.contact-opening {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);

    pointer-events: auto;
}

/* ANIMATE SECTIONS */

.hide {

    transform: translate(-150px, 0) !important;
    opacity: 0 !important;

}

.show {

    transform: translate(0) !important;
    opacity: 1 !important;

}

.headerHide {

    background-color: rgba(0, 0, 0, 0) !important;

}

.animate-right {
    opacity: 0;
    transform: translate(-100px, 0);
    transition: all 0.4s ease-out;
}

.animate-left {
    opacity: 0;
    transform: translate(100px, 0);
    transition: all 0.4s ease-out;
}

.animate-down {
    opacity: 0;
    transform: translate(0, -100px);
    transition: all 0.4s ease-out;
}

.animate-up {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.4s ease-out;
}

.animate {
    opacity: 1;
    transform: translate(0);
}

/* ACTUAL ANIMS */

@keyframes spiral {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* MEDIA QUERY */

@media (max-aspect-ratio: 5/4) {

    .animate-right {
        opacity: 0;
        transform: translate(-25px, 0);
        transition: all 0.4s ease-out;
    }
    
    .animate-left {
        opacity: 0;
        transform: translate(25px, 0);
        transition: all 0.4s ease-out;
    }
    
    .animate-down {
        opacity: 0;
        transform: translate(0, -25px);
        transition: all 0.4s ease-out;
    }
    
    .animate-up {
        opacity: 0;
        transform: translate(0, 25px);
        transition: all 0.4s ease-out;
    }

    .animate {
        opacity: 1;
        transform: translate(0);
    }

    .header {

        flex-direction: column;

        gap: 1vh;

        padding: 0;

        .logo-wrapper {
            margin-top: 1vh;
            margin-right: 5.75vw;
            max-height: 7.5vh;
        }

        ul {

            margin: auto 0;
            text-align: center;

            li {
                font-size: clamp(0.1em, 4vw, 1.5em);
                padding: 0.5vh 1.25vw;
                margin: 0%;
            }

        }

    }

    .hero-section {
        flex-direction: column;

        gap: 2.5%;

        .row-1 {

            order: 2;

            width: 100%;
            max-width: 95%;
            max-height: auto;
            height: auto;
            margin: 0;


            flex-direction: column;
            align-items: center;
            justify-content: start;


            div {
                text-align: center;
            }

            .upper-text {
                font-size: clamp(0.1em, 6vw, 2.25em);
            }

            .main-text {
                font-size: clamp(0.1em, 11.5vw, 5em);
            }

            .lower-text {
                font-size: clamp(0.1em, 6vw, 2.25em);
            }

            .paragraph {
                font-size: 2.5vh;
                margin: 5% 0;
            }

            a {
                padding: 2% 0;
                width: 80%;
                font-size: clamp(0.1em, 5vw, 1.75em);
            }

        }

        .row-2 {

            order: 1;

            margin: 0;

            height: 50vh;
            max-height: 50vh;
            width: 75%;

        }

    }

    .info-section {

        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5vh;

        .large-image {
            opacity: 0 !important;
        }

        .header-text {
            top: 0;
            left: 0;
            position: static;
            text-align: center;
            font-size: clamp(0.1em, 10vw, 3em);
        }

        .info-container {

            flex: 0;
            gap: 1vh;

            max-width: auto;
            max-height: auto;

            width: 90%;
            max-width: 90%;
            height: auto;

            div {

                margin: 0;
                height: 25vh;

                gap: 5vw;

                font-size: clamp(0.1em, 2vh, 1.25em);


                div {

                    height: 100%;
                    max-height: 100%;

                }


                img {

                    max-width: 30%;
                    max-height: 100%;
                    object-fit: contain;

                }

                #point-2-img {
                    order: 2;
                }

                #point-5 {
                    order: 2;
                }

            }

        }

        .row-1 {
            margin: 0;
            
            div {
                text-align: center !important;
            }

            .one {
                transition-delay: 0.3s;
            }
    
            .two {
                transition-delay: 0.3s;
            }
    
            .three {
                transition-delay: 0.3s;
            }
        }

        .row-2 {
            margin: 0;
            
            div {
                text-align: center !important;
            }

            .four {
                transition-delay: 0.3s;
            }
    
            .five {
                transition-delay: 0.3s;
            }
    
            .six {
                transition-delay: 0.3s;
            }
        }

    }

    .about-section {

        flex-direction: column;

        gap: 2vh;

        .row-1 {
            margin: 0;
            height: 50vh;
            max-width: 80%;

            transition-delay: 0.25s;
        }

        .row-2 {

            margin: 0;
            max-width: 90%;

            justify-content: start;
            gap: 1vh;

            text-align: center;

            .about-header {

                width: 100%;

                font-size: clamp(0.1em, 10vw, 3em);


                background: linear-gradient(160deg, #61FF00 30%, #00700B);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                transition-delay: 0.5s;

            }


            .about-paragraph {

                margin: 0;

                font-size: clamp(0.1em, 2vh, 1.25em);

                transition-delay: 0.5s;

            }

        }

    }

    .ref-section {

        padding: 0;

        .column-1 {
            font-size: clamp(0.1em, 10vw, 3em);
            margin: 0 5vw;
        }

        .column-2 {
            flex-direction: column;
            gap: 5vh;

            height: auto;
            max-height: 100%;

            .ref-wrapper {
                height: auto;
                max-height: 30%;
                max-width: 100%;


                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap: 1vh;

                img {
                    width: 80%;
                }

                .name {

                    font-weight: var(--medium-font-weight);
                    font-size: clamp(0.1em, 4vh, 2em);

                }


                .testimony {

                    font-size: clamp(0.1em, 2vh, 1.25em);

                }

            }

            .one {
                transition-delay: 0.5s;
            }

            .two {
                transition-delay: 0.5s;
            }

            .three {
                transition-delay: 0.5s;
            }

        }

    }

    .final-section {

        gap: 7.5vh;

        .upper {
            font-size: clamp(0.1em, 10vw, 3em);
        }

        a {
            padding: 2% 0;
            width: 80%;
            font-size: clamp(0.1em, 5vw, 1.75em);
        }

    }

    .contact-lightbox {

        padding: 2vw;
        
        .bg {
            height: 60vh;
            width: 85vw;

            .contact-header {
                font-size: clamp(0.1em, 8vw, 4em);
            }

            a {
                width: 80%;
                padding: 4% 0;
            }
        }

    }

    .explain-section {

        flex-direction: column;

        gap: 2vh;

        .row-1 {
            margin: 0;
            height: 50vh;
            max-width: 80%;

            transition-delay: 0.25s;
        }

        .row-2 {

            margin: 0;
            max-width: 90%;

            justify-content: start;
            gap: 1vh;

            text-align: center;

            .explain-header {

                width: 100%;

                font-size: clamp(0.1em, 10vw, 3em);


                background: linear-gradient(160deg, #61FF00 30%, #00700B);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                transition-delay: 0.5s;

            }


            .explain-paragraph {

                margin: 0;

                font-size: clamp(0.1em, 2vh, 1.25em);

                transition-delay: 0.5s;

            }

        }

    }

}