@font-face {
    font-family: 'Lexend';
    src: url(/public/fonts/Lexend.woff2) format('woff2-variations');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'LexendZetta';
    src: url(/public/fonts/LexendZetta.woff2) format('woff2-variations');
    font-weight: 100 900;
    font-display: swap;
}



:root {

    /* font */

    --def-font: 'Lexend';
    --def-lrg-font: 'LexendZetta';
    --normal-font-weight: 400;
    --medium-font-weight: 500;
    --bold-font-weight: 700;
    --extrabold-font-weight: 800;

    /* for the sections */

    --def-section-height: 95vh;
    --def-section-padding: 5vh;
    --def-section-margin: 15vh 0;

    /* for the header/footer */

    --def-top-bottom-size: 13vh;

}



html {
    scroll-behavior: smooth;
    font-family: var(--def-font);
    font-weight: var(--normal-font-weight);
}



body {

    margin: 0;
    padding: 0;


    background-color: #FFF5EE;
    /* background-image: radial-gradient(60% 17.5% at 95% 7.5%, rgba(0, 255, 25, 0.65), rgba(0, 0, 0, 0));
                      /* radial-gradient(35% 10% at 22.5% 47.5%, rgba(0, 255, 25, 0.65), rgba(0, 0, 0, 0) 100%),
                      radial-gradient(55% 6% at 50% 67.5%, rgba(0, 255, 25, 0.65), rgba(0, 0, 0, 0) 100%); */

}



.header {

    padding: 1vh;
    width: 100%;
    height: var(--def-top-bottom-size);


    display: flex;
    align-items: center;
    gap: 20px;


    .logo-wrapper {

        width: 15vh;
        height: 15vh;
        position: relative;
        /* come back and give them a max-height and max-width later */


        margin-left: 5vw;
        margin-right: 2.5vw;


        img {

            position: absolute;

            width: 100%;
            height: 100%;

        }


        .spiral {

            z-index: 5001;

            animation: spiral 8s infinite linear;
            -moz-animation: spiral 8s infinite linear;
            -webkit-animation: spiral 8s infinite linear;

        }


        .logo {

            z-index: 5002;

        }

    }


    ul {

        width: 100%;
        margin: 0;
        padding: 0;


        list-style-type: none;
        text-align: left;


        li {

            display: inline;


            padding: 1.75vh 1.25vw;
            margin: 1vw;


            border-radius: 0.5vw;


            color: black;
            text-decoration: none;
            font-weight: var(--bold-font-weight);
            font-size: 1.5vw;


            user-select: none;


            transition: all 0.1s ease;

        }


        #healing {

            background-color: #61FF00;

        }

        #elegant {

            background-color: #FFC700;

        }

        #mindset {

            background-color: #00FFC2;

        }

    }

}



.hero-section {

    margin: 0 0 30vh 0;
    height: var(--def-section-height);
    padding: 0;


    display: flex;
    align-items: center;
    gap: 5vw;


    .row-1 {

        height: 95%;
        margin: 0 0 0 2.5vw;
        padding: 0 2.5%;
        max-width: 963px;
        max-height: 974px;


        flex: 1;


        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;


        div {

            width: 100%;

        }


        .upper-text {

            font-family: var(--def-lrg-font);
            font-size: clamp(0.1em, 2.8vw, 3.5em);

        }


        .main-text {

            font-family: var(--def-lrg-font);
            font-weight: var(--bold-font-weight);
            font-size: clamp(0.1em, 5.5vw, 7.25em);


            background: linear-gradient(160deg, #61FF00 30%, #00700B);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;


            transform: translate(150px, 0);
            opacity: 0;


            transition: all 0.1s ease;

        }


        .lower-text {

            font-family: var(--def-lrg-font);
            font-size: clamp(0.1em, 2.8vw, 3.5em);

        }


        .paragraph {

            margin-top: 8%;
            margin-bottom: 7.55%;


            font-size: clamp(0.1em, 1.5vw, 1.6em);


            transform: translate(150px, 0);
            opacity: 0;


            transition: all 0.1s ease;

        }


        a {

            padding: 3% 0;
            width: 30%;


            border-radius: 1.5vw;


            color: black;
            text-align: center;
            text-decoration: none;
            font-family: var(--def-lrg-font);
            font-weight: var(--extrabold-font-weight);
            font-size: clamp(0.1em, 1.25vw, 1.6em);


            background-image: linear-gradient(160deg, #61FF00 30%, #00a310);
            box-shadow: 0 0 30px #00a310;


            border: 2px solid black;


            transform: translate(150px, 0);
            opacity: 0;


            transition: all 0.1s ease;

        }

    }


    .row-2 {

        height: 100%;
        margin: 0 2.5vw 0 0;
        margin-left: auto;
        max-width: 963px;
        max-height: 974px;


        flex: 1;


        img {

            width: 100%;
            height: 100%;
            object-fit: contain;
            filter: drop-shadow(0 0 5px black);


            transform: translate(150px, 0);
            opacity: 0;


            transition: all 0.1s ease;

        }

    }

}



.info-section {

    position: relative;
    margin: var(--def-section-margin);
    height: 100vh;
    padding: 0;


    display: flex;
    align-items: end;
    gap: 30vw;


    .large-image {
        position: absolute;
        width: 30%;
        height: 80%;
        top: 15%;
        left: 35%;
        object-fit: contain;
        filter: drop-shadow(0 0 5px black);
    }


    .header-text {

        position: absolute;


        top: 5%;
        left: 5%;
        width: 90%;
        max-width: 90%;


        text-align: center;
        font-size: 5vw;
        font-family: var(--def-lrg-font);
        font-weight: var(--bold-font-weight);


        background: linear-gradient(160deg, #61FF00, #00700B);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }


    .info-container {

        height: 70%;
        max-width: 624px;
        max-height: 756px;


        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        div {

            margin: 5%;
            max-height: 27.5%;


            display: flex;
            align-items: center;
            justify-content: center;


            font-size: clamp(0.1em, 1vw, 1.25em);


            div {

                max-height: 100%;

            }


            img {

                flex: 1;

                max-width: 10%;
                max-height: 60%;
                object-fit: contain;

            }

        }

    }

    .row-1 {

        margin: 0 0 5vh 2.5vw;


        div {

            text-align: left;

        }


        img {

            margin-left: 3.25%;

        }

    }

    .row-2 {

        margin: 0 2.5vw 5vh 0;
        margin-left: auto;


        div {

            text-align: right;

        }


        img {

            margin-right: 3.25%;

        }

    }

}



.about-section {

    margin: var(--def-section-margin);
    height: var(--def-section-height);
    padding: var(--def-section-padding);


    display: flex;
    align-items: center;
    gap: 2vw;


    .about-container {

        flex: 1;


        height: 90%;
        max-height: 90%;

    }


    .row-1 {

        text-align: center;


        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            border-radius: 5%;
            filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
        }

    }


    .row-2 {

        margin: 0 2.5vw 0 0;


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vw;


        text-align: left;


        .about-header {


            font-family: var(--def-lrg-font);
            font-weight: var(--bold-font-weight);
            font-size: clamp(0.1em, 5vw, 7.25em);


            background: linear-gradient(160deg, #61FF00 30%, #00700B);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }


        .about-paragraph {

            margin: 0 5%;


            font-size: clamp(0.1em, 1.3vw, 1.8em);

        }

    }

}



.ref-section {

    margin: var(--def-section-margin);
    height: var(--def-section-height);
    padding: var(--def-section-padding);


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;


    .column-1 {

        flex: 0.25;


        text-align: center;
        font-family: var(--def-lrg-font);
        font-weight: var(--bold-font-weight);
        font-size: clamp(0.1em, 5vw, 7.25em);


        background: linear-gradient(160deg, #61FF00 30%, #00700B);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }


    .column-2 {

        max-height: 80%;


        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;



        .ref-wrapper {

            height: 100%;
            max-height: 100%;
            max-width: 27.5%;


            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            gap: 1.5vh;


            img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 50%;
                object-fit: contain;
                border-radius: 5%;
                filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
            }


            div {

                text-align: center;

            }


            .name {

                font-weight: var(--medium-font-weight);
                font-size: clamp(0.1em, 2vw, 3rem);

            }


            .testimony {

                margin: 0 5%;


                font-size: clamp(0.1em, 1vw, 1.25em);

            }


        }

    }

}



.final-section {

    margin: var(--def-section-margin);
    height: var(--def-section-height);
    padding: var(--def-section-padding);


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;


    .upper {

        text-align: center;
        font-family: var(--def-lrg-font);
        font-weight: var(--bold-font-weight);
        font-size: clamp(0.1em, 5vw, 7.25em);


        background: linear-gradient(160deg, #61FF00 30%, #00700B);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }


    a {

        padding: 3vh 0;
        width: 30vw;


        border-radius: 1.5vw;


        color: black;
        text-align: center;
        text-decoration: none;
        font-family: var(--def-lrg-font);
        font-weight: var(--extrabold-font-weight);
        font-size: clamp(0.1em, 1.75vw, 4em);


        background-image: linear-gradient(160deg, #61FF00 30%, #00a310);
        box-shadow: 0 0 30px #00a310;


        border: 2px solid black;

    }

}



.footer {

    padding: 2.5vh 0;
    margin: 5vh 0 0 0;


    text-align: center;
    font-size: 1.5em;

}



/* ANIMATE SECTIONS */

.hide {

    transform: translate(-150px, 0) !important;
    opacity: 0 !important;

}

.show {

    transform: translate(0) !important;
    opacity: 1 !important;

}

.headerHide {

    background-color: rgba(0, 0, 0, 0) !important;

}

/* ACTUAL ANIMS */

@keyframes spiral {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}


/* MEDIA QUERY */

@media (max-aspect-ratio: 5/4) {

    .header {

        flex-direction: column;

        gap: 1vh;

        padding: 0;

        .logo-wrapper {
            margin-top: 1vh;
            margin-right: 5.75vw;
            max-height: 7.5vh;
        }

        ul {

            margin: auto 0;
            text-align: center;

            li {
                font-size: clamp(0.1em, 4vw, 1.75em);
                padding: 0.5vh 1.25vw;
                margin: 0%;
            }

        }
        
    }

    .hero-section {
        flex-direction: column;

        gap: 2.5%;

        .row-1 {

            order: 2;

            width: 100%;
            max-width: 95%;
            max-height: auto;
            height: auto;
            margin: 0;


            flex-direction: column;
            align-items: center;
            justify-content: start;


            div {
                text-align: center;
            }

            .upper-text {
                font-size: clamp(0.1em, 6vw, 2.25em);
            }

            .main-text {
                font-size: clamp(0.1em, 11.5vw, 5em);
            }

            .lower-text {
                font-size: clamp(0.1em, 6vw, 2.25em);
            }

            .paragraph {
                font-size: 2.5vh;
                margin: 5% 0;
            }

            a {
                padding: 2% 0;
                width: 80%;
                font-size: clamp(0.1em, 5vw, 1.75em);
            }

        }

        .row-2 {

            order: 1;

            margin: 0;

            max-height: 50%;
        }

    }

}